/**
 * Created by Bernigend, https://bernigend.ru || https://vk.com/bernigend
 * Created on 03/2018 for the project of the store
 */
* {
  margin: 0; }

html {
  font-size: 1em;
  height: 100%;
  width: 100%; }

body {
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  color: #000;
  height: 100%;
  width: 100%;
  background: #8e158a;
  background-size: 600% 600%;
  -webkit-animation: HeaderAnimation 15s ease infinite;
  -moz-animation: HeaderAnimation 15s ease infinite;
  -o-animation: HeaderAnimation 15s ease infinite;
  animation: HeaderAnimation 15s ease infinite; }

.login-form {
  position: relative;
  max-width: 600px;
  left: 50%;
  top: 50%; }
  .login-form .with-backg {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 1rem; }
  .login-form .login-href {
    color: #d6d6d6;
    text-decoration: none;
    display: block;
    padding-top: 1rem;
    text-align: center; }
    .login-form .login-href:hover {
      color: #fff; }
  .login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0.5rem;
    font-size: 1.2rem; }
  .login-form input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: #8e158aa8;
    color: #fff;
    cursor: pointer; }
    .login-form input[type="submit"]:hover {
      background: #8e158a; }

.title-form {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  margin-bottom: 1rem; }

.name-input {
  margin-bottom: 0.3rem;
  width: 100%; }

@-webkit-keyframes HeaderAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes HeaderAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-o-keyframes HeaderAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes HeaderAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  z-index: 90; }
  aside .info-block {
    padding: 0.6rem 1rem;
    background: #5C0759;
    box-shadow: 0px 0px 6px 0px #424242;
    color: #fff; }
  aside .title-section {
    padding: 1rem;
    border: none;
    margin: 0;
    color: #fff; }
  aside ul {
    padding: 0;
    list-style-type: none;
    margin: 0.6rem 0; }
  aside li {
    margin-bottom: 0.6rem; }
    aside li a {
      display: block;
      padding: 0.6rem 1rem; }
      aside li a.active, aside li a:hover {
        background: #C769C2;
        box-shadow: 0px 0px 6px 0px #fff; }
    aside li:last-child {
      margin-bottom: 0; }
  aside a {
    color: #fff;
    text-decoration: none; }
  aside .footer-aside {
    position: absolute;
    bottom: 0;
    padding: 0.6rem 1rem;
    background: #5C0759;
    box-shadow: 0px 0px 6px 0px #424242;
    color: #fff;
    width: 100%;
    box-sizing: border-box; }

main {
  float: right;
  width: 80%;
  min-height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 0;
  z-index: 100;
  position: relative; }

.title-section {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem; }

.error {
  border-left: 6px solid #dc3232;
  padding: 0.6875rem;
  box-shadow: 0px 0px 10px #afafaf;
  margin-bottom: 1rem; }
  .error .title-error {
    font-weight: bold; }

.success {
  border-left: 6px solid #39bf39;
  padding: 0.6875rem;
  box-shadow: 0px 0px 10px #afafaf;
  margin-bottom: 1rem; }
  .success .title-success {
    font-weight: bold; }

.form-label {
  margin-bottom: 1.5rem;
  max-width: 700px; }
  .form-label .input-title {
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 700px; }

input[type="text"], input[type="password"] {
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  padding: 0.5rem;
  font-size: 1.2rem; }

input[type="radio"] {
  margin-left: 1rem; }

textarea {
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  padding: 0.5rem;
  font-size: 1.2rem; }

input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: #8e158aa8;
  color: #fff;
  cursor: pointer; }
  input[type="submit"]:hover {
    background: #8e158a; }

.product {
  width: 100%;
  margin-bottom: 0; }
  .product.set {
    width: 100%; }

.preview {
  width: 50%;
  max-width: 400px;
  position: absolute;
  right: 20px;
  top: 7rem;
  margin-top: 1rem; }

/*# sourceMappingURL=cpanel.css.map */
