header {
	.logo {
		border-color: #b300ad;
	}
}

main {
	display: block;
}

footer {
	border-color: #b300ad;
}

button {
	background-color: #b300ad;
}

.product:hover {
	border-color: #b300ad;
}