/**
 * Created by Bernigend, https://bernigend.ru || https://vk.com/bernigend
 * Created on 03/2018 for the project of the store
 */

* {
	margin: 0;
}


// Основные теги: //

html {
	font-size: 1em;
}


body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1.1rem;
	line-height: 1.4;
	background-color: #f2f2f2;
	color: #666;
}


a {
	text-decoration: none;
}


p {
	padding-bottom: 1rem;

	&:last-child {
		padding-bottom: 0;
	}
}


button, .button {
	display: block;
	border: none;
	width: 100%;
	padding: 0.8rem;
	font-size: 1rem;

	background-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad));
	background-image: -webkit-linear-gradient(left, #40d0f1, #b300ad);
	background-image: -o-linear-gradient(left, #40d0f1, #b300ad);
	background-image: linear-gradient(to right, #40d0f1, #b300ad);

	-webkit-background-size: 600% 600%;
	        background-size: 600%;

	background-position-x: 100%;
	color: #fff;
	font-weight: bold;
	cursor: pointer;

	-webkit-transition: 0.8s background-position;
	     -o-transition: 0.8s background-position;
	        transition: 0.8s background-position;

	&:hover {
		background-position-x: 0%;
	}
}


hr {
	border: none;
	height: 1px;
	background-color: #ccc;
	margin-bottom: 1rem;
	&.gradient {
		margin: 0;
		background-image: linear-gradient(to right, #40d0f1, #b300ad);
		height: 3px;
	}
}


// Части сайта: //

header {

	// логотип
	.logo {
		background: url(../images/logo.jpg) #2a3330;
		background-position: center;
		background-repeat: no-repeat;
		height: 512px;

		border-top: 3px solid;
		border-bottom: 3px solid;
		-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 100;
		-webkit-border-image: -webkit-linear-gradient(left, #40d0f1, #b300ad) 100;
		     -o-border-image: -o-linear-gradient(left, #40d0f1, #b300ad) 100;
		        border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 100;
		        border-image: linear-gradient(to right, #40d0f1, #b300ad) 100;
	}

	// навигация
	nav {
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 0 0 #d7d8db;
		        box-shadow: 0px 1px 0 0 #d7d8db;

		ul {
			padding: 0;
			list-style-type: none;
			text-align: center;
		}

		li {
			display: inline-block;

			&:nth-child(2n) {
				a.active, a:hover {
					background-color: #ea5165;
				}
			}

			&:nth-child(2n-1) {
				a.active, a:hover {
					background-color: #36beb4;
				}
			}
		}

		a {
			display: block;
			padding: 0.9rem 1.55rem;
			color: #666;
			font-weight: bold;

			&.active, &:hover {
				color: #fff;
			}
		}
	}

}


// слайдер
.slider {
	position: relative;
	margin-top: 1rem;
	background-color: #fff;
	height: 400px;
	width: 100%;
	overflow: hidden;

	.all-slides {
		height: 100%;
		position: absolute;
	}

	.slide {
		width: 100%;
		height: 100%;
		display: inline-block;
		-webkit-background-size: cover;
		        background-size: cover;
		background-position: center;
	}

	.next {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		width: 60px;
		background-color: rgba(171, 171, 171, 0.278);
		cursor: pointer;

		&:after {
			content: "";
			display: block;
			position: absolute;
			background-image: url(../images/arrow-right.png);
			width: 20px;
			height: 37px;
			top: 50%;
			right: 50%;
			margin-right: -10px;
			margin-top: -18.5px;
			-webkit-background-size: cover;
			        background-size: cover;
		}

		&:hover {
			background-color: rgba(171, 171, 171, 0.5);
		}
	}

	.last {
		@extend .next;

		left: 0;
		right: auto;

		&:after {
			background-image: url(../images/arrow-left.png);
		}
	}
}


// Основной контент //

main {
	margin-top: 1rem;

	&.with-backg {
		background-color: #fff;
		-webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	}

	&.with-mg-bt {
		margin-bottom: 1rem;
	}
}


// // Секция товаров: //

.products {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


.product {
	position: relative;
	width: 32%;
	background-color: #fff;
	border: 1px solid #f2f2f2;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

	margin-bottom: 1rem;
	padding: 1rem;
	text-align: center;
	overflow: hidden;

	.info {
		// height button = 2.724625rem
		padding-bottom: 2.824625rem;

		img {
			width: 100%;
			margin-bottom: 1rem;
		}

		.cost {
			font-weight: bold;
			color: #000;
			margin-bottom: 1rem;
			margin-top: 0.5rem;

			s {
				font-weight: normal;
				font-size: 0.9rem;
			}
		}

		.name {
			font-size: 1.2rem;
			color: #000;
			text-align: center;
		}
	}

	// набор товаров
	&.set {
		width: 49%;
		padding: 1.1rem;

		img {
			width: 50%;
			float: left;
			margin-right: 1rem;
		}

		.name {
			margin-bottom: 1.1rem;
		}

		p {
			padding-bottom: 1rem;
			text-align: justify;
		}

		.info {
			padding-bottom: 0;
		}

		button {
			position: relative;
			right: auto;
			bottom: auto;
			left: auto;
			width: 100% !important;
		}
	}

	// распродажа
	&.sale:after {
		content: "";
		display: block;
		position: absolute;
		width: 70px;
		height: 70px;
		background-image: url(../images/sale.png);
		top: -2px;
		right: -2px;
	}

	// популярные
	&.hot:after {
		@extend .sale;

		content: "";
		background-image: url(../images/hot.png);
	}

	// новинки
	&.new:after {
		@extend .sale;

		content: "";
		background-image: url(../images/new.png);
	}

	button {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		left: 1rem;
		width: auto;
	}

	&:hover {
		-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 50 50;
		-webkit-border-image: -webkit-linear-gradient(left, #40d0f1, #b300ad) 50 50;
		-o-border-image: -o-linear-gradient(left, #40d0f1, #b300ad) 50 50;
		   border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 50 50;
		   border-image: linear-gradient(to right, #40d0f1, #b300ad) 50 50;
	}
}


// низ сайта
footer {
	background-color: #2a3330;
	color: #fff;

	border-top: 3px solid;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 100;
	-webkit-border-image: -webkit-linear-gradient(left, #40d0f1, #b300ad) 100;
	     -o-border-image: -o-linear-gradient(left, #40d0f1, #b300ad) 100;
	        border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 100;
	        border-image: linear-gradient(to right, #40d0f1, #b300ad) 100;

	.info {
		padding: 1rem 0;
	}
}

// корзина
.cart-place {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;

	border-top: 3px solid;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 100;
	-webkit-border-image: -webkit-linear-gradient(left, #40d0f1, #b300ad) 100;
	     -o-border-image: -o-linear-gradient(left, #40d0f1, #b300ad) 100;
	        border-image: -webkit-gradient(linear, left top, right top, from(#40d0f1), to(#b300ad)) 100;
	        border-image: linear-gradient(to right, #40d0f1, #b300ad) 100;

	-webkit-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

	z-index: 100;

	.cart {
		float: right;
		padding: 0.9rem 1.55rem;
		color: #666;
		cursor: pointer;

		&:hover {
			background-color: #2a3330;
			color: #fff;
		}
	}
}

// открытая корзина
.cart-open-place {
	display: none;
	position: fixed;
	top: 100px;
	right: 50%;
	width: 600px;
	margin-right: -300px;
	background-color: #f2f2f2;
	box-shadow: 0px 0px 20px 0px #000;
	z-index: 1000;

	.display-none {
		display: none;
	}

	.form-label {
		margin-bottom: 1.5rem;
		max-width: 700px;

		.input-title {
			margin-bottom: 0.5rem;
			width: 100%;
			max-width: 700px;
		}
	}


	input[type="text"], input[type="password"] {
		width: 100%;
		max-width: 700px;
		box-sizing: border-box;
		border: 1px solid #cacaca;
		padding: 0.5rem;
		font-size: 1.2rem;
	}

	.cart-close {
		float: right;
		color: #000;
		border-bottom: 1px solid #000;
		cursor: pointer;
		&:hover {
			border-bottom: none;
		}
	}

	.cart-product {
		color: #000;
		padding: 1rem;
		background-color: #fff;
		box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
		margin-bottom: 1rem;

		.item-info {
			float: right;
		}
    }

	.wrapper {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.cart-open-place-black {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #000;
	opacity: 0.8;
	z-index: 999;
}


// фиксированный фон
.fixed-background {
	position: relative;
	width: 100%;
	background-image: url(../images/background-1.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	        background-size: cover;
	background-position: center;

	.wrapper {
		position: relative;
		color: #fff;
		z-index: 2;
		text-align: center;

		h3 {
			color: #fff;
			font-size: 3rem;
			padding: 4rem 0;
		}

		p {
			text-align: justify;
			line-height: 1.5;
			font-size: 1.5rem;
			padding-bottom: 4rem;
		}
	}

	.black {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.6;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}


// Дополнительные классы //

.wrapper {
	max-width: 1200px;
	padding: 0 1.25rem;
	margin-right: auto;
	margin-left: auto;

	&.with-all-pd {
		padding: 1.25rem;
	}
}


.title {
	color: #000;
	padding-bottom: 1rem;
}


.arrow-up {
	position: fixed;
	display: none;
	width: 50px;
	height: 50px;
	background: -webkit-linear-gradient(left, #40d0f1, #b300ad);
	background: -o-linear-gradient(left, #40d0f1, #b300ad);
	background: linear-gradient(to right, #40d0f1, #b300ad);
	background-size: 600%;
	background-position-x: 100%;
	bottom: 30px;
	right: 30px;
	opacity: 0.4;
	z-index: 10;
	border-radius: 3px;
	cursor: pointer;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(../images/arrow-up.png);
		background-size: 100%;
	}
}


// адаптация под мобильники
@media (max-width: 1240px) {
	header { .logo { background-size: cover; } }
}

@media (max-width: 1150px) {
	header { .logo { height: 370px; } }
	.slider { height: 370px; }
}

@media (max-width: 1000px) {
	.slider { height: 320px; }
}

@media (max-width: 840px) {
	html { font-size: 0.9em; }
	header { .logo { height: 280px; } }
	.slider {
		height: 260px;
		.next {
			width: 40px;
			&:after {
				width: 15px;
				height: 29px;
			}
		}
	}
	.arrow-up { right: 18px; bottom: 18px; }
}

@media (max-width: 640px) {
	html { font-size: 0.8em; }
	header { .logo { height: 210px; } }
	.products .product { width: 49%; }
	.products .product.set { width: 100%; }
	.slider { height: 200px; }
	.arrow-up { width: 40px; height: 40px; }
}

@media (max-width: 560px) {
	nav ul li a { padding-left: 1rem; padding-right: 1rem; }
}

@media (max-width: 500px) {
	header {
		.logo { background-image: url(../images/logo-mini.jpg); height: 170px; }
		nav ul li a { padding-left: 0.7rem; padding-right: 0.7rem; }
	}
	.slider {
		height: 180px;
		.next {
			width: 20px;
			&:after {
				width: 10px;
				height: 20px;
				margin-right: -5px;
				margin-top: -10px;
			}
		}
	}
	.products .product { width: 100%; }
}

@media (max-width: 390px) { header nav ul li a { padding-left: 0.66rem; padding-right: 0.66rem; font-size: 0.9rem; } }
@media (max-width: 320px) { header nav ul li a { padding-left: 0.3rem; padding-right: 0.3rem; font-size: 0.8rem; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	main { display: block; }
}